{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block title %}
Lab3
{% endblock %}


{% block main %}

<div>  
  <form action="{{url_for('sendemail')}}" method="POST" enctype="mutlipart/form-data">
    <h2><b>CONTACT FORM</h2>
    <br>
    <p class="lbel"> <label> Name: <br> <input name="name" autofocus placeholder="enter your name..." required></label></p>
    <p class="lbel"> <label> E-Mail: <br> <input type="email "name="email" placeholder="enter your email..." required></label></p>
    <p class="lbel"> <label> Subject: <br> <input type="text "name="subject" placeholder="enter the subject" required></label></p>
    <p class="lbel"> <label> Message: <br> </p>
    <textarea rows="5" cols="50" name="msg" required></textarea>
    <br><br>
    <input type="submit" value="Send">
  </form>
</div>
  
{% endblock %}


